<% wrap_layout :layout do %>
<header>
	<h1 property="dcterms:title"><%= current_article.title %></h1>
<% if current_article.data.subtitle %>
	<p><%= current_article.data.subtitle %></p>
<% end %>
	<p><%= data.settings.author.name %></p>
	<p>Published: <time property="dcterms:created dcterms:dateCopyrighted" datetime="<%= current_article.date.strftime("%F") %>"><%= prettify_date(current_article.date) %></time></p>
<% if ((File.mtime(current_page.source_file) - current_article.date) / 86400) > 7 %>
	<p>Last updated: <time property="dcterms:modified  schema:dateModified" datetime="<%= File.mtime(current_page.source_file).iso8601 %>"><%= prettify_date(File.mtime(current_page.source_file)) %></time></p>
<% end %>
	<% if current_article.tags %>
	<dl>
		<dt>Tagged with</dt>
		<% current_article.tags.sort{ |a,b| a.to_s.downcase <=> b.to_s.downcase }.each do |tag| %>
		<dd><%= link_to tag, tag_path(tag), rel: 'tag' %></dd>
		<% end %>
	</dl>
	<% end %>
</header>
<% if current_article.data.description %>
<p property="dcterms:description"><%= current_article.data.description %></p>
<% end %>
<%= yield %>
<% end # wrap_layout %>