<?xml version="1.0" encoding="<%= config.encoding %>"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%= data.settings.site.language %>"<% if current_article %> prefix="article: http://ogp.me/ns/article#"<% end %>>
	<head>
		<link rel="canonical" href="<%= absolute_url(current_page) %>" />
<%= partial('layouts/open_graph', locals: { current_article: current_article } ) %>
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title><%= doc_title %></title>
		<%= feed_tag :atom, "#{blog.options.prefix.to_s}/atom.xml", title: "Atom Feed" %>
	</head>
	<body>
		<main>
			<%= yield %>
		</main>
		<aside>
			<% unless blog.articles.reject{|article| article == current_article}.empty? # check recent articles loop not empty %>
			<h2>Recent Articles</h2>
			<ol>
				<% blog.articles.reject{|article| article == current_article}[0...10].each do |article| # recent articles loop %>
				<li><%= link_to article.title, article %> <time datetime="<%= article.date.strftime('%F') %>"><%= prettify_date(article.date) %></time></li>
				<% end # recent articles loop %>
			</ol>
			<% end # check recent articles loop not empty %>
			<% unless blog.tags.empty? # check tags loop not empty %>
			<h2>Tags</h2>
			<ol>
				<% blog.tags.sort{ |a,b| a.to_s.downcase <=> b.to_s.downcase }.each do |tag, articles| # tags loop %>
				<li><%= link_to "#{tag} (#{spell_out(articles.size)})", tag_path(tag) %></li>
				<% end # tags loop %>
			</ol>
			<% end # check tags loop not empty %>
			<h2>By Year</h2>
			<ol>
				<% blog.articles.group_by {|a| a.date.year }.each do |year, articles| # year loop %>
				<li><%= link_to "#{year} (#{spell_out(articles.size)})", blog_year_path(year) %></li>
				<% end # year loop %>
			</ol>
		</aside>
		<footer>
			<address>Copyright © <time property="dcterms:dateCopyrighted"><%= data.settings.site.licence.copyright %></time><% if File.mtime(current_page.source_file).strftime('%Y') > data.settings.site.licence.copyright.to_s %>–<time><%= File.mtime(current_page.source_file).strftime('%Y') %></time><% end %> <span property="cc:attributionName dcterms:creator dcterms:rightsHolder" typeof="foaf:Person"><a property="cc:attributionURL foaf:homepage" href="<%= data.settings.site.base_url %>"><span property="foaf:name"><%= data.settings.author.name %></span></a>, <a property="foaf:mbox" rel="licence" href="mailto:<%= data.settings.author.e_mail %>"><%= data.settings.author.e_mail %></a></span> (published under <a href="<%= data.settings.site.licence.url %>"><%= data.settings.site.licence.name %></a>).</address>
			<p>This document was last modified on <time property="dcterms:modified" datetime="<%= File.mtime(current_page.source_file).iso8601 %>"><%= prettify_date_time(File.mtime(current_page.source_file)) %></time>.</p>
		</footer>
	</body>
</html>